/* Variables
-------------------------------------*/
/* http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
/* Mixins 
-------------------------------------*/
/* Vendor prefixes */
/* Reset 
-------------------------------------*/
html,
body {
  height: 100%;
  font-size: 100%; }

* {
  margin: 0;
  padding: 0; }

/* Global Styles 
-------------------------------------*/
.decoration {
  /* Cicada principle */
  background-image: -webkit-linear-gradient(left, rgba(127, 63, 63, 0.23) 50%, transparent 50%), -webkit-linear-gradient(left, rgba(191, 95, 95, 0.29) 50%, transparent 50%), -webkit-linear-gradient(left, rgba(255, 127, 127, 0.31) 50%, transparent 50%), -webkit-linear-gradient(left, rgba(64, 32, 32, 0.23) 50%, transparent 50%), -webkit-linear-gradient(left, rgba(229, 114, 114, 0.29) 50%, transparent 50%);
  background-image: -moz-linear-gradient(left, rgba(127, 63, 63, 0.23) 50%, transparent 50%), -moz-linear-gradient(left, rgba(191, 95, 95, 0.29) 50%, transparent 50%), -moz-linear-gradient(left, rgba(255, 127, 127, 0.31) 50%, transparent 50%), -moz-linear-gradient(left, rgba(64, 32, 32, 0.23) 50%, transparent 50%), -moz-linear-gradient(left, rgba(229, 114, 114, 0.29) 50%, transparent 50%);
  background-image: -o-linear-gradient(left, rgba(127, 63, 63, 0.23) 50%, transparent 50%), -o-linear-gradient(left, rgba(191, 95, 95, 0.29) 50%, transparent 50%), -o-linear-gradient(left, rgba(255, 127, 127, 0.31) 50%, transparent 50%), -o-linear-gradient(left, rgba(64, 32, 32, 0.23) 50%, transparent 50%), -o-linear-gradient(left, rgba(229, 114, 114, 0.29) 50%, transparent 50%);
  background-image: linear-gradient(left, rgba(127, 63, 63, 0.23) 50%, transparent 50%), linear-gradient(left, rgba(191, 95, 95, 0.29) 50%, transparent 50%), linear-gradient(left, rgba(255, 127, 127, 0.31) 50%, transparent 50%), linear-gradient(left, rgba(64, 32, 32, 0.23) 50%, transparent 50%), linear-gradient(left, rgba(229, 114, 114, 0.29) 50%, transparent 50%);
  background-size: 23px, 31px, 41px, 53px, 59px;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

body {
  background: #FFE9E9;
  color: #444;
  font-family: "PT Sans", "helvetica neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #444;
  border-bottom: 1px solid #000; }
  a:active {
    /* 
      unfortunately, only firefox applies translate 
      to inline elements.
     */
    -webkit-transform: translate(0, 1px);
    -moz-transform: translate(0, 1px);
    -o-transform: translate(0, 1px);
    transform: translate(0, 1px); }

nav ul {
  list-style: none; }

code {
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace, serif;
  font-size: 13px;
  /* I won't be damned for this shortcut */ }

/* inline code */
p code {
  background: #444;
  color: #fff;
  padding: .25em .5em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em; }

abbr {
  border-bottom: 1px dashed #000;
  cursor: help; }

.amp {
  font-family: "hoefler text", palatino, palatino lynotype, georgia, times, serif;
  font-style: italic; }

.caps {
  font-variant: small-caps; }

/* Sidebar 
-------------------------------------*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 140px;
  height: 100%;
  color: #000; }

.logo {
  display: block;
  text-align: center;
  font: italic 48px/54px "PT Serif", "hoefler text", palatino, georgia, times, serif;
  text-decoration: none;
  background: #666;
  /* background:rgba(226, 46, 46, .67); */
  color: #fff;
  width: 60px;
  height: 60px;
  border: 0;
  margin: 36px auto 48px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 20px white;
  -moz-box-shadow: 0 0 20px white;
  -o-box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px white;
  -webkit-transition: box-shadow 0.35s linear;
  -moz-transition: box-shadow 0.35s linear;
  -o-transition: box-shadow 0.35s linear;
  transition: box-shadow 0.35s linear; }
  .logo:hover {
    -webkit-box-shadow: 0 0 50px white;
    -moz-box-shadow: 0 0 50px white;
    -o-box-shadow: 0 0 50px white;
    box-shadow: 0 0 50px white; }
  .logo span {
    position: relative;
    top: 3px;
    left: 0;
    text-shadow: 1px 1px 0 #aaa, 0 0 0 orange;
    -webkit-transition: text-shadow 0.35s linear;
    -moz-transition: text-shadow 0.35s linear;
    -o-transition: text-shadow 0.35s linear;
    transition: text-shadow 0.35s linear; }
  .logo:hover span {
    text-shadow: 1px 1px 0 #aaaaaa, 0 0 20px rgba(255, 255, 255, 0.75); }

.header-nav a {
  display: block;
  border: none;
  font-size: 17px;
  height: 36px;
  line-height: 36px;
  padding: 0 0 0 38px;
  color: #555; }
  .header-nav a:hover {
    color: #000; }
.header-nav .current a {
  color: #444;
  text-decoration: none;
  font-weight: bold; }

/* Content
-------------------------------------*/
.main {
  float: left;
  position: relative;
  width: 560px;
  margin: 0 0 0 140px;
  padding: 3.75em 0 0;
  font-family: "PT Serif", "hoefler text", palatino, georgia, times, serif;
  /* entire scrollbar */
  /* scrollbar thumb  */ }
  .main h1 {
    margin: 0 0 1em;
    font-size: 1.5em;
    /* 24px */
    line-height: 1;
    text-shadow: 1px 1px 0 #fff; }
    .main h1 a {
      border: none; }
      .main h1 a:hover {
        color: #000; }
  .main p, .main li, .main h2, .main dt, .main dd {
    margin: 0 0 .75em; }
    .main p a:hover, .main li a:hover, .main h2 a:hover, .main dt a:hover, .main dd a:hover {
      background: #000;
      color: #fff;
      margin: 0 -0.3em;
      padding: .3em .3em .1em;
      -webkit-border-radius: 0.125em;
      -moz-border-radius: 0.125em;
      -o-border-radius: 0.125em;
      border-radius: 0.125em; }
  .main dt {
    margin: 0; }
  .main pre {
    background: #333;
    color: #ccc;
    margin: 0 0 1.5em;
    padding: .75em 16px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em; }
  .main ::-webkit-scrollbar {
    height: 10px;
    width: 10px; }
  .main ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px; }

/* Notes 
-------------------------------------*/
/* index page headings */
.main-notes h1 {
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 .6em; }

/* note footer */
.note-meta {
  text-align: right;
  color: #888;
  margin: 0 0 1em; }

/* sidebar */
.secondary-promotejs {
  position: absolute;
  top: 3em;
  left: 740px;
  opacity: .5;
  -webkit-transition: opacity 0.35s linear;
  -moz-transition: opacity 0.35s linear;
  -o-transition: opacity 0.35s linear;
  transition: opacity 0.35s linear; }
  .secondary-promotejs:hover {
    opacity: 1; }
  .secondary-promotejs a {
    border: none; }

.note-end {
  text-align: center;
  font-size: 2em;
  color: #555;
  text-shadow: 1px 1px 0 #fff; }

/* comments */
.main-comments a {
  border: none; }
.main-comments .dsq-trackback-url input {
  width: 200px; }

/* CV 
-------------------------------------*/
.cv {
  /* About Me 
  -------------------------------------*/ }
  .cv .cv-download {
    background: #fefefe;
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #ccc;
    font-size: 10px;
    font-weight: normal!important;
    margin: 6px 0 0 38px;
    padding: 0;
    position: relative; }
    .cv .cv-download:after {
      content: '';
      position: absolute;
      top: -1px;
      right: -1px;
      border: solid #ccc;
      border-width: 0 0 1px 1px;
      width: 10px;
      height: 10px;
      background: #FFEAEA;
      background: -webkit-linear-gradient(45deg, #ebebeb 6px, #999999 6px, #ffeaea 7px);
      background: -moz-linear-gradient(45deg, #ebebeb 6px, #999999 6px, #ffeaea 7px);
      background: -o-linear-gradient(45deg, #ebebeb 6px, #999999 6px, #ffeaea 7px);
      background: linear-gradient(45deg, #ebebeb 6px, #999999 6px, #ffeaea 7px);
      z-index: 1; }
  .cv .main li {
    list-style: none;
    overflow: hidden; }
  .cv .comment {
    margin: -1.715em 0 0;
    font-size: .875em;
    /* 14px */
    line-height: 1.715;
    color: #777;
    font-weight: normal; }
    .cv .comment span {
      font-style: italic; }
  .cv .quote {
    text-align: right; }
  .cv .main {
    width: auto; }
    .cv .main section {
      margin: 0 0 1.5em;
      overflow: hidden; }
    .cv .main .section-title {
      font-size: 1em;
      line-height: 1.5;
      margin: 0 0 1.5em;
      float: left;
      width: 200px; }
    .cv .main .section-content {
      float: left;
      width: 480px; }
    .cv .main .contacts dt {
      float: left; }
      .cv .main .contacts dt:after {
        content: ': ';
        margin-right: .3em; }
    .cv .main .contacts dd {
      margin: 0; }
    .cv .main .objective {
      padding: .4em;
      margin: -0.4em -0.4em 1.1em;
      background: #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 0 5px white;
      -moz-box-shadow: 0 0 5px white;
      -o-box-shadow: 0 0 5px white;
      box-shadow: 0 0 5px white; }
    .cv .main .objective p {
      margin: 0; }
    .cv .main .exp dt {
      width: 160px;
      float: left;
      clear: left;
      font-weight: bold;
      font-size: .875em;
      line-height: 1.715; }
    .cv .main .exp dd {
      float: left;
      width: 310px; }
    .cv .main .employment li {
      overflow: hidden;
      border-bottom: 1px dashed #ccc;
      padding: 0 0 23px; }
      .cv .main .employment li:last-child {
        border: none;
        padding: 0; }
    .cv .main .employment h2,
    .cv .main .edu h2 {
      font-weight: bold;
      font-size: .875em;
      line-height: 1.715;
      margin: 0 0 .429em; }
    .cv .main .employment .period,
    .cv .main .edu .period {
      width: 160px;
      float: left;
      clear: left; }
    .cv .main .employment .description,
    .cv .main .edu .description {
      float: left;
      width: 310px; }
      .cv .main .employment .description p,
      .cv .main .edu .description p {
        margin: 0; }
    .cv .main .employment .sum,
    .cv .main .edu .sum {
      display: block; }
    .cv .main .lang li,
    .cv .main .links li {
      margin: 0;
      overflow: visible; }

.about-me-image img {
  display: block;
  margin: 0 0 .5em; }

/* HASHGRID */
/**
 * Grid
 */
#grid {
  /* Dimensions - same width as your grid with gutters */
  width: 980px;
  /* Grid (left-aligned) */
  position: absolute;
  top: 0;
  left: 0;
  /* Grid (centered) 
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -490px;
  */ }

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert {
  width: 60px;
  border: solid darkturquoise;
  border-width: 0 1px;
  margin-right: 9px; }

#grid div.vert.first-line {
  margin-left: 0px; }

/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz {
  /* 24px line height */
  height: 23px;
  border-bottom: 1px dotted darkgray;
  margin: 0;
  padding: 0; }

/**
* Classes for multiple grids
*
* When using more than one grid, remember to set the numberOfGrids 
* option in the hashgrid.js file.
*/
#grid.grid-1 div.vert {
  /* Vertical grid line colour for grid 1 */
  border-color: darkturquoise; }

#grid.grid-2 {
  /* Adjustments */
  padding: 0 160px;
  width: 660px; }

#grid.grid-2 div.vert {
  /* Vertical grid line colour for grid 2 */
  border-color: crimson; }
