/* Variables
-------------------------------------*/
$serif : "PT Serif", "hoefler text", palatino, georgia, times, serif;
$sans : "PT Sans", "helvetica neue", helvetica, arial, sans-serif;
$monospace : "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace, serif;
/* http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */

/* Mixins 
-------------------------------------*/

/* Vendor prefixes */
@mixin prefixes($property, $value) {
  -webkit-#{$property} : $value;
  -moz-#{$property} : $value;
  -o-#{$property} : $value;
  #{$property} : $value;
}

@mixin transition($properties, $delay, $type) {
  @include prefixes(transition, $properties $delay $type)
}

@mixin grid1 {
  width:160px;
  float:left;
  clear:left;
}
@mixin grid2 {
  float:left;
  width:310px;    
}

/* Reset 
-------------------------------------*/
html,
body {
  height:100%;
  font-size:100%;
}
* {
  margin:0;
  padding:0;
} 
/* Global Styles 
-------------------------------------*/
.decoration {
  /* Cicada principle */
  background-image:
    -webkit-linear-gradient(left, rgba(127, 63, 63, .23) 50%, transparent 50%),
    -webkit-linear-gradient(left, rgba(191, 95, 95, .29) 50%, transparent 50%),
    -webkit-linear-gradient(left, rgba(255, 127, 127, .31) 50%, transparent 50%),
    -webkit-linear-gradient(left, rgba(64, 32, 32, .23) 50%, transparent 50%),
    -webkit-linear-gradient(left, rgba(229, 114, 114, .29) 50%, transparent 50%);
  background-image:
    -moz-linear-gradient(left, rgba(127, 63, 63, .23) 50%, transparent 50%),
    -moz-linear-gradient(left, rgba(191, 95, 95, .29) 50%, transparent 50%),
    -moz-linear-gradient(left, rgba(255, 127, 127, .31) 50%, transparent 50%),
    -moz-linear-gradient(left, rgba(64, 32, 32, .23) 50%, transparent 50%),
    -moz-linear-gradient(left, rgba(229, 114, 114, .29) 50%, transparent 50%);
  background-image:
    -o-linear-gradient(left, rgba(127, 63, 63, .23) 50%, transparent 50%),
    -o-linear-gradient(left, rgba(191, 95, 95, .29) 50%, transparent 50%),
    -o-linear-gradient(left, rgba(255, 127, 127, .31) 50%, transparent 50%),
    -o-linear-gradient(left, rgba(64, 32, 32, .23) 50%, transparent 50%),
    -o-linear-gradient(left, rgba(229, 114, 114, .29) 50%, transparent 50%);
  background-image:
    linear-gradient(left, rgba(127, 63, 63, .23) 50%, transparent 50%),
    linear-gradient(left, rgba(191, 95, 95, .29) 50%, transparent 50%),
    linear-gradient(left, rgba(255, 127, 127, .31) 50%, transparent 50%),
    linear-gradient(left, rgba(64, 32, 32, .23) 50%, transparent 50%),
    linear-gradient(left, rgba(229, 114, 114, .29) 50%, transparent 50%);
  background-size:23px, 31px, 41px, 53px, 59px;
  height:5px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:99;
  box-shadow:0 0 3px rgba(0, 0, 0, .5);
}
body {
  background:#FFE9E9;
  color: #444;
  font-family:$sans;
  -webkit-font-smoothing: antialiased;
  line-height:1.5;
}
a {
  text-decoration:none;
  color:#444;
  border-bottom:1px solid #000;
  
  &:active {
    /* 
      unfortunately, only firefox applies translate 
      to inline elements.
     */
    @include prefixes(transform, translate(0,1px));
  }
}
nav ul {
  list-style:none;
}
code {
  font-family: $monospace;
  font-size: 13px;/* I won't be damned for this shortcut */
}
/* inline code */
p code {
  background: #444;
  color: #fff;
  padding:.25em .5em;
  @include prefixes(border-radius, .25em);
}
abbr {
  border-bottom:1px dashed #000;
  cursor:help;
}
.amp {
  font-family:"hoefler text", palatino, palatino lynotype, georgia, times, serif;
  font-style:italic;
}
.caps {
  font-variant:small-caps;
}
/* Sidebar 
-------------------------------------*/
.header {
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  width:140px;
  height:100%;
  color:#000;
}
  .logo {
    display:block;
    text-align:center;
    font:italic 48px/54px $serif;
    text-decoration:none;
    background:#666;
    /* background:rgba(226, 46, 46, .67); */
    color:#fff;
    width:60px;
    height:60px;
    border:0;
    margin:36px auto 48px;
    @include prefixes(border-radius, 30px);
    @include prefixes(box-shadow, 0 0 20px #fff);
    @include transition(box-shadow, .35s, linear);

    &:hover {
      @include prefixes(box-shadow, 0 0 50px #fff);
    }
    span {
      position:relative;
      top:3px;
      left:0;
      text-shadow:1px 1px 0 #aaa, 0 0 0 orange; 
      @include transition(text-shadow, .35s, linear);
    }
  
    &:hover span {
      text-shadow:1px 1px 0 #aaa, 0 0 20px rgba(255,255,255,.75);
    }
  }

  .header-nav {
    a {
      display:block;
      border:none;
      font-size:17px;
      height:36px;
      line-height:36px;
      padding:0 0 0 38px;
      color:#555;
      
      &:hover {
        color:#000;
      };
    }
    .current a {
      color:#444;
      text-decoration:none;
      font-weight:bold;
    }
  }
/* Content
-------------------------------------*/
.main {
  float:left;
  position:relative;
  width:560px;
  margin:0 0 0 140px;
  padding:3.75em 0 0;
  font-family: $serif;

  h1 {
    margin:0 0 1em;
    font-size:1.5em;/* 24px */
    line-height:1;
    text-shadow:1px 1px 0 #fff;
    
    a {
      border:none;
      &:hover {
        color:#000;
      }
    }
  }
  
  p, li, h2, dt, dd {
    margin:0 0 .75em;

    a {
      &:hover {
        background:#000;
        color:#fff;
        margin:0 -.3em;
        padding:.3em .3em .1em;
        @include prefixes(border-radius, .125em);
      } 
    }
  }
  
  dt {
    margin: 0;
  }
  pre {
    background:#333;
    color:#ccc;
    margin:0 0 1.5em;
    padding:.75em 16px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    
    @include prefixes(border-radius, .25em);
  }
  
  /* entire scrollbar */
  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  /* scrollbar thumb  */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
  }
}
/* Notes 
-------------------------------------*/
/* index page headings */
.main-notes {
  h1 {
    font-size:1.25em;
    line-height:1.2;
    margin:0 0 .6em;
  }
}
/* note footer */
.note-meta {
    text-align:right;
    color:#888;
    margin:0 0 1em;
}
/* sidebar */
.secondary-promotejs {
  position:absolute;
  top:3em;
  left:740px;
  opacity:.5;
  @include transition(opacity, .35s, linear);
  &:hover {
      opacity:1;
  }
  a {
    border:none;
  }
}
.note-end {
  text-align:center;
  font-size:2em;
  color:#555;
  text-shadow:1px 1px 0 #fff;
}
/* comments */
.main-comments {
  a {
    border:none;
  }
  .dsq-trackback-url input {
    width: 200px;
  }
}
/* CV 
-------------------------------------*/
.cv {
  .cv-download {
      background:#fefefe;
      display:inline-block;
      text-align:center;
      width:32px;
      height:44px;
      line-height:44px;
      border:1px solid #ccc;
      font-size:10px;
      font-weight:normal!important;
      margin:6px 0 0 38px;
      padding:0;
      position:relative;
      &:after {
          $gradient: 45deg, #ebebeb 6px, #999 6px, #FFEAEA 7px;
          
          content:'';
          position:absolute;
          top:-1px;
          right:-1px;
          border:solid #ccc;
          border-width:0 0 1px 1px;
          width:10px;
          height:10px;
          background:#FFEAEA;
          background:-webkit-linear-gradient($gradient);
          background:-moz-linear-gradient($gradient);
          background:-o-linear-gradient($gradient);
          background:linear-gradient($gradient);
          z-index:1;
      }
  }
  .main li {
    list-style:none;
    overflow:hidden;
  }
  
 .comment {
   margin:-1.715em 0 0;
   font-size:.875em;/* 14px */
   line-height:1.715;
   color:#777;
   font-weight:normal;
   span {
     font-style:italic;
   }
 }

 .quote {
   text-align:right;
 }

 .main {
   width:auto;
   
   section {
    margin:0 0 1.5em;
    overflow:hidden;
   }
     .section-title {
       font-size:1em;
       line-height:1.5;
       margin:0 0 1.5em;
       float:left;
       width:200px;
     }
     .section-content {
       float:left;
       width:480px;
     }
  .contacts {
    dt {
      float:left;
      &:after {
        content: ': ';
        margin-right:.3em;
      }
    }
    dd {
      margin:0;
    }
  }
  .objective {
    padding:.4em;
    margin:-.4em -.4em 1.1em;
    background:#fff;
    @include prefixes(border-radius, 2px);
    @include prefixes(box-shadow, 0 0 5px #fff);
  }
    .objective p {
      margin:0;
    }
  .exp {
    dt {
      @include grid1;
      font-weight:bold;
      font-size:.875em;
      line-height:1.715;
    }
    dd {
      @include grid2;
    }
  }
  .employment {
    li {
      overflow:hidden;
      border-bottom:1px dashed #ccc;
      padding:0 0 23px;
      &:last-child {
        border:none;
        padding:0;
      }
    }
  }
  .employment,
  .edu {
    h2 {
      font-weight:bold;
      font-size:.875em;
      line-height:1.715;
      margin:0 0 .429em;
    }
    .period {
      @include grid1;
    }
    .description {
      @include grid2;
      p {
        margin:0;
      }
    }
    .sum {
      display:block;
    }
  }
  .lang li,
  .links li {
    margin:0;
    overflow:visible;
  }
  
 }
/* About Me 
-------------------------------------*/
}
.about-me-image {
    img {
        display:block;
        margin:0 0 .5em;
    }
}
@import "grid.scss";