%h1 Page not found
%p
  :markdown
    It can be my fault, it might have been yours. What is important is that nobody's hurt. Also, you can proceed to the [home page](/) or to one of my [notes](/notes).