PageTitle: About me
PageClass: about-me
PageAction: age

%h1 About me

%p
  I am
  =years_old
  years old geek, currently living in Berlin. I was born in Novosibirsk and had a chance to also live in Vienna, Tel Aviv and Moscow.

%p
  Mainly, I code <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr> and JavaScript. I am also interested in typography, UI and graphic design very much.
