Pagetitle: CV

%header
  %hgroup
    %h1 Misha Reyzlin
    %h2.comment
      (22 years old <attr title="User Interface">UI</attr> developer)
   
%section#cv-quote
  %blockquote(cite="http://www.python.org/dev/peps/pep-0020/") Special cases aren’t special enough to break the rules.<br>Although practicality beats purity.
  %cite Tim Peters, The Zen of Python
  
%section#cv-contacts
  %h1 Contact Information
  %dl.section-content
    %dt Email
    %dd 
      %a(href="mailto:hello@mishareyzlin.com") hello@mishareyzlin.com
    %dt Phone number
    %dd +972 54 222-67-31
    %dt Homepage 
    %dd 
      %a(href="http://mishareyzlin.com") http://mishareyzlin.com
    %dt LinkedIn
    %dd
      %a(href="http://www.linkedin.com/in/mrejzlin") http://www.linkedin.com/in/mrejzlin
      
%section#cv-objective
  %h1 Career objective
  %p.section-content
    Web <attr title="User Interface">UI</attr> developer, working on encouraging projects, in a team of motivated professionals.

%section#cv-specs
  %h1 Specialities
  %p.section-content
    <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, JavaScript, <br><abbr title="JavaScript Object Notation">JSON</abbr>, <abbr title="Extensible Markup Language">XML</abbr>, templating (<abbr title="Extensible Stylesheet Language Language">XSLT</abbr>, django-templates, <span class="etc"><span class="amp">&amp;</span>c</span>.), <br>website performance and loading optimization, <br>cross-browser issues
    
%section#exp
  %h1 Experienced with
  %dl.section-content
    %dt Technologies
    %dd
      <abbr title="PHP: Hypertext Preprocessor">PHP</abbr>, <abbr title="Active Server Pages">ASP</abbr>.net, Python (Django)
    %dt Tools
    %dd
      Firefox with Firebug, Safari, Chrome, <br>Opera, Internet Explorer, Fiddler, <br>Vim, SVN, Mercurial, <br>*nix terminal (ssh, scp, <span class="etc"><span class="amp">&amp;</span>c</span>.), <br>Linux (Debian), Mac OS X, Windows, <br>Adobe Photoshop, Adobe InDesign, <br>Apache, Nginx
      
%section#employment
  %h1 Employment history
  %ul.section-content
    %li
      :redcarpet
        <p class="period">
          <time class="dtstart" datetime="2010-01-01">2010/1</time>&#8211;<time>present</time>
          <time class="sum">(6 months)</time>
        </p>
        <div class="description">
          <h2>User interface consultant and developer</h2>
          <p class="company">Packale – <a href="http://www.packale.com">www.packale.com</a></p>
          <p class="duty">Functional prototype development, <br>user experience consultancy</p>
          <p class="tech"><abbr title="HyperText Markup Language">HTML</abbr>5, <abbr title="Cascading Style Sheets">CSS</abbr>3, jQuery</p>
        </div>
    %li
      :markdown
        <p class="period">
          <time class="dtstart" datetime="2007-11-01">2007/11</time>&#8211;<time class="dtend" datetime="2010-03-15">2010/3</time>
          <time class="sum">(2 years 5 months)</time>
        </p>
        <div class="description">
          <h2>Front-end web developer</h2>
          <p class="company">tnTraffic – <a href="http://thenationtraffic.com">thenationtraffic.com</a></p>
          <p class="duty">web sites development and support</p>
          <p class="tech"><abbr title="Extensible HyperText Markup Language">XHTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>2.1/<abbr title="Cascading Style Sheets">CSS</abbr>3, jQuery, <br><abbr title="Extensible Markup Language">XML</abbr>/<abbr title="Extensible Stylesheet Language Language">XSLT</abbr> engine maintenance</p>
        </div>
    %li
      :markdown
        <p class="period">
          <time class="dtstart" datetime="2007-07-01">2007/7</time>&#8211;<time class="dtend" datetime="2007-10-10">2007/10</time>
          <time class="sum">(4 months)</time>
        </p>
        <div class="description">
          <h2>Web developer</h2>
          <p class="company">WebAdmin – <a href="http://webadmin.co.il">webadmin.co.il</a></p>
          <p class="duty">web sites design, development, support</p>
          <p class="tech"><abbr title="Active Server Pages">ASP</abbr>.net, <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>2.1, JavaScript, <br>Prototypejs + Scriptaculous</p>
        </div>
        !!!!! IMPLEMENT MICRODATA

    %section#edu
      %h1 Education
      %ul.section-content
        %li
          %p.period
            %time.dtstart{:datetime => "2008-09-01"}> 2008/09
            \–
            %time.dtend{:datetime => "2009-12-01"} 2009/12
          .description
            %p
              Open University of Israel, Department
              %br of Literature, Language and the Arts
        %li
          %p.period
            %time.dtstart{:datetime => "2003-09-01"}> 2003
            \–
            %time.dtend{:datetime => "2004-05-25"} 2004
          .description
            %p
              Web Development courses
              %br
                High College of Informatics
                %br Novosibirsk State University
        %li
          %p.period
            %time.dtstart{:datetime => "2003-09-01"}> 2003
            \–
            %time.dtend{:datetime => "2004-05-25"} 2004
          .description
            %h2 Certificate of Secondary Education
            %p
              Phycics Mathematics School
              %br Novosibirsk State University
    %section#lang
      %h1 Languages
      %ul.section-content
        %li Russian – mother tongue
        %li Hebrew – fluent
        %li English – very good
    %section#code
      %h1 Code Samples
      %dl.section-content
        %dt
          %abbr{:title => "Cascading Style Sheets"} CSS
        %dd
          %ul
            %li
              %a{:href => "/code-samples/iso.html"} /code-samples/iso.html
            %li
              %a{:href => "/code-samples/bubbo.html"} /code-samples/bubbo.html
        %dt JavaScript
        %dd
          %ul
            %li
              %a{:href => "/code-samples/samizdal.html"} /code-samples/samizdal.html
            %li
              %a{:href => "http://samizdal.mishareyzlin.com/js/jquery.overlie.js"} /js/jquery.overlie.js