PageTitle: CV
PageClass: cv vcard
PageAction: age

%header(itemscope)
  %hgroup
    %h1.fn(itemprop="fn") Misha Reyzlin
    %h2.comment
      (<span><span class="years-age">22 years</span> old <span class="title" itemprop="role"><abbr title="User Interface">UI</abbr> developer</span></span>)
   
%section.quote
  %blockquote(cite="http://www.python.org/dev/peps/pep-0020/") Special cases aren’t special enough to break the rules.<br>Although practicality beats purity.
  %cite Tim Peters, The Zen of Python
  
%section.contacts
  %h1.section-title Contact Information
  %dl.section-content
    %dt Email
    %dd 
      %a.email(href="mailto:hello@mishareyzlin.com") hello@mishareyzlin.com
    %dt Phone number
    %dd.tel 
      %span.value +972 54 222-67-31
    %dt Homepage 
    %dd 
      %a.url(href = "http://mishareyzlin.com" rel = "me") http://mishareyzlin.com
    %dt LinkedIn
    %dd
      %a.url(href = "http://www.linkedin.com/in/mrejzlin" rel = "me") http://www.linkedin.com/in/mrejzlin
      
%section.objective
  %h1.section-title Career objective
  %p.section-content
    Web <abbr title="User Interface">UI</abbr> developer, working on encouraging projects, in a team of motivated professionals.

%section.specs
  %h1.section-title Specialities
  %p.section-content
    <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, JavaScript, <br><abbr title="JavaScript Object Notation">JSON</abbr>, <abbr title="Extensible Markup Language">XML</abbr>, templating (<abbr title="HTML Abstraction Markup Language">HAML</abbr>, Mustache, <br><abbr title="Extensible Stylesheet Language Language">XSLT</abbr>, django-templates, <span class="etc"><span class="amp">&amp;</span>c</span>.), <br>website performance and loading optimization, <br>cross-browser issues
    
%section.exp
  %h1.section-title Experienced with
  %dl.section-content
    %dt Technologies
    %dd
      Ruby (Ruby on Rails, Sinatra), Python (Django), <abbr title="PHP: Hypertext Preprocessor">PHP</abbr>, Scala (Scalatra), <abbr title="Active Server Pages">ASP</abbr>.net
    %dt Tools
    %dd 
      Firefox with Firebug, Safari, Chrome, <br>Opera, Internet Explorer, Fiddler, <br>Vim, Textmate, SVN, Mercurial, Git, <br>*nix terminal (ssh, scp, <span class="etc"><span class="amp">&amp;</span>c</span>.), <br>Linux (Debian), Mac OS X, Windows, <br>Adobe Photoshop, Adobe InDesign, <br>Apache, Nginx

%section.employment
  %h1.section-title Employment history
  %ul.section-content
    %li
      :redcarpet
        <p class="period">
          <time class="dtstart" datetime="2010-12-16">2010/12</time>&#8211;
          <time class="dtend" datetime="2011-05-10">2011/04</time>
          <time class="sum">(5 months)</time>
        </p>
        <div class="description">
          <h2 class="title"><abbr title="User Interface">UI</abbr> developer</h2>
          <p class="company vcard">
            <span class="org fn">SpotUse</span> – <a class="url" href="http://spotuse.com">http://spotuse.com</a>
          </p>
          <p class="duty">Client-side architecture and development consultancy.</p>
          <p class="tech"><abbr title="HyperText Markup Language">HTML</abbr>5, <abbr title="Cascading Style Sheets">CSS</abbr>3, Mustache, jQuery, jsMVC</p>
        </div>
    %li
      :redcarpet
        <p class="period">
          <time class="dtstart" datetime="2010-07-01">2010/07</time>&#8211;
          <time class="dtend" datetime="2011-01-20">2011/01</time>
          <time class="sum">(7 months)</time>
        </p>
        <div class="description">
          <h2 class="title"><abbr title="User Interface">UI</abbr> developer</h2>
          <p class="company vcard">
            <span class="org fn">DoStuff Media</span> – <a class="url" href="http://dostuffmedia.com">http://dostuffmedia.com/</a>
          </p>
          <p class="duty"><abbr title="User Interface">UI</abbr> design and development. Mobile development.</p>
          <p class="tech"><abbr title="HyperText Markup Language">HTML</abbr>5, <abbr title="Cascading Style Sheets">CSS</abbr>3, jQuery, XUI</p>
        </div>
    %li
      :redcarpet
        <p class="period">
          <time class="dtstart" datetime="2010-01-01">2010/1</time>&#8211;<time>present</time>
          <time class="sum">(6 months)</time>
        </p>
        <div class="description">
          <h2 class="title">User interface consultant and developer</h2>
          <p class="company vcard">
            <span class="org fn">Packale</span> – <a class="url" href="http://www.packale.com">www.packale.com</a>
          </p>
          <p class="duty">Functional prototype development, <br>user experience consultancy</p>
          <p class="tech"><abbr title="HyperText Markup Language">HTML</abbr>5, <abbr title="Cascading Style Sheets">CSS</abbr>3, jQuery</p>
        </div>
    %li
      %p.period
        %time.dtstart{:datetime => "2007-11-01"}> 2007/11
        –
        %time.dtend{:datetime => "2010-03-15"} 2010/3
        %br
        %time.sum (2 years 5 months)
      .description
        %h2.title Front-end web developer
        %p.company.vcard
          <span class="org fn">tnTraffic</span> – <a class="url" href="http://thenationtraffic.com">thenationtraffic.com</a>
        %p.duty web sites development and support
        %p.tech
          <abbr title="Extensible HyperText Markup Language">XHTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>2.1/<abbr title="Cascading Style Sheets">CSS</abbr>3, jQuery, <br><abbr title="Extensible Markup Language">XML</abbr>/<abbr title="Extensible Stylesheet Language Language">XSLT</abbr> engine maintenance
          
%section.edu
  %h1.section-title Education
  %ul.section-content
    %li
      %p.period
        <time datetime="2008-09-01">2008/09</time> – <time datetime="2009-12-01">2009/12</time>
      .description
        %p.vcard
          <span class="org fn">Open University of Israel</span>, Department of&nbsp;Literature, Language and the Arts
    %li
      %p.period
        %time.dtstart{:datetime => "2003-09-01"}> 2003
        \–
        %time.dtend{:datetime => "2004-05-25"} 2004
      .description
        %h2 Web Development courses
        %p.vcard
          <span class="org fn">High College of Informatics</span>
        %p.vcard
          <span class="org fn">Novosibirsk State University</span>
    %li
      %p.period
        %time.dtstart{:datetime => "2003-09-01"}> 2003
        \–
        %time.dtend{:datetime => "2004-05-25"} 2004
      .description
        %h2 Certificate of Secondary Education
        %p.vcard
          <span class="org fn">Phycics Mathematics School</span>
        %p.vcard
          <span class="org fn">Novosibirsk State University</span>
%section.lang
  %h1.section-title Languages
  %ul.section-content
    %li Russian – mother tongue
    %li Hebrew – fluent
    %li English – very good

%section.links
  %h1.section-title Links
  %ul.section-content
    %li 
      %a.url(href="http://twitter.com/gryzzly") Twitter
    %li
      %a.url(href="http://github.com/gryzzly") Github
    %li
      %a.url(href="http://stackoverflow.com/users/236135/gryzzly") StackOverflow