PageTitle: CV
PageClass: cv vcard
PageAction: age

%header(itemscope)
  %hgroup
    %h1.fn(itemprop="fn") Misha Reyzlin
    %h2.comment
      %span<
        =years_old
        years old <span class="title" itemprop="role"><abbr title="User Interface">UI</abbr> developer</span>

%section.quote
  %blockquote(cite="http://www.python.org/dev/peps/pep-0020/") Special cases aren’t special enough to break the rules.<br>Although practicality beats purity.
  %cite Tim Peters, The Zen of Python

%section.contacts
  %h1.section-title Contact Information
  %dl.section-content
    %dt Email
    %dd
      %a.email(href="mailto:hello@mishareyzlin.com") hello@mishareyzlin.com
    %dt Phone number
    %dd.tel
      %span.value +972 54 222-67-31
    %dt Homepage
    %dd
      %a.url(href = "http://mishareyzlin.com" rel = "me") http://mishareyzlin.com
    %dt LinkedIn
    %dd
      %a.url(href = "http://www.linkedin.com/in/mishareyzlin" rel = "me") http://www.linkedin.com/in/mishareyzlin

%section.objective
  %h1.section-title Career objective
  %p.section-content
    Web <abbr title="User Interface">UI</abbr> developer, working on encouraging projects, in a team<br>of motivated professionals.

%section.specs
  %h1.section-title Specialities
  %p.section-content
    JavaScript, <abbr title="HyperText Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, <br><abbr title="JavaScript Object Notation">JSON</abbr>, <abbr title="Extensible Markup Language">XML</abbr>, templating (<abbr title="HTML Abstraction Markup Language">HAML</abbr>, Handlebars, <abbr title="Extensible Stylesheet Language Language">XSLT</abbr>, django-templates, <span class="etc"><span class="amp">&amp;</span>c</span>.), <br>website performance and loading optimization, <br>cross-browser issues, mobile web development

%section.exp
  %h1.section-title Experienced with
  %dl.section-content
    %dt Technologies
    %dd
      Ruby (Ruby on Rails, Sinatra), Python (Django), <abbr title="PHP: Hypertext Preprocessor">PHP</abbr>, Scala (Scalatra), <abbr title="Active Server Pages">ASP</abbr>.net
    %dt Tools
    %dd
      Firefox with Firebug, Safari, Chrome, <br>Opera, Internet Explorer, Fiddler, <br>Vim, Textmate, SVN, Mercurial, Git, <br>*nix terminal (ssh, scp, <span class="etc"><span class="amp">&amp;</span>c</span>.), <br>Linux (Debian), Mac OS X, Windows, <br>Adobe Photoshop, Adobe InDesign, <br>Apache, Nginx

%section.employment
  %h1.section-title Employment history
  %ul.section-content
    %li
      :redcarpet
        <p class="period">
          <time class="dtstart" datetime="2012-08-01">2012/08</time>&#8211;
          <time class="dtend">Present</time>
        </p>
        <div class="description">
          <h2 class="title">Frontend Engineer</h2>
          <p class="company"><a href="http://soundcloud.com">SoundCloud</a></p>
          <p class="duty">Contributing to all major web properties of the company: HTML5 embedded player, desktop site and the mobile web application</p>
        </div>
    %li
      :redcarpet
        <p class="period">
          <time class="dtstart" datetime="2011-12-01">2011/12</time>&#8211;
          <time class="dtend" datetime="2012-07-31">2012/7</time>
          <time class="sum">(8 months)</time>
        </p>
        <div class="description">
          <h2 class="title">Software Engineer</h2>
          <p class="company"><a href="http://m.here.com/">Here.com</a> (Nokia business)</p>
          <p class="duty">GPS navigation maps web application for iOS, An- droid and other HTML5 enabled mobile devices.</p>
        </div>
    %li
      :redcarpet
        <p class="period">
          <time class="dtstart" datetime="2010-03-01">2010/3</time>&#8211;
          <time class="dtend" datetime="2011-11-30">2011/11</time>
          <time class="sum">(1 year 8 months)</time>
        </p>
        <div class="description">
          <h2 class="title">Self-employed Software Engineer</h2>
          <p class="company vcard"><a href="http://mishareyzlin.com">mishareyzlin.com</a></p>
          <p class="duty">HTML5 apps development, JavaScript consultancy, Mobile Web development</p>
        </div>
    %li
      %p.period
        %time.dtstart{:datetime => "2007-11-01"}> 2007/11
        –
        %time.dtend{:datetime => "2010-03-15"} 2010/3
        %br
        %time.sum (2 years 5 months)
      .description
        %h2.title Frontend web developer
        %p.company.vcard
          <span class="org fn">tnTraffic</span> – <a class="url" href="http://thenationtraffic.com">thenationtraffic.com</a>
        %p.duty web sites development and support
        %p.tech
          <abbr title="Extensible HyperText Markup Language">XHTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>2.1/<abbr title="Cascading Style Sheets">CSS</abbr>3, jQuery, <br><abbr title="Extensible Markup Language">XML</abbr>/<abbr title="Extensible Stylesheet Language Language">XSLT</abbr> engine maintenance

%section.edu
  %h1.section-title Education
  %ul.section-content
    %li
      %p.period
        <time datetime="2008-09-01">2008/09</time> – <time datetime="2009-12-01">2009/12</time>
      .description
        %p.vcard
          <span class="org fn">Open University of Israel</span>, Department of&nbsp;Literature, Language and the Arts
    %li
      %p.period
        %time.dtstart{:datetime => "2003-09-01"}> 2003
        \–
        %time.dtend{:datetime => "2004-05-25"} 2004
      .description
        %h2 Web Development courses
        %p.vcard
          <span class="org fn">High College of Informatics</span>
        %p.vcard
          <span class="org fn">Novosibirsk State University</span>
    %li
      %p.period
        %time.dtstart{:datetime => "2003-09-01"}> 2003
        \–
        %time.dtend{:datetime => "2004-05-25"} 2004
      .description
        %h2 Certificate of Secondary Education
        %p.vcard
          <span class="org fn">Phycics Mathematics School</span>
        %p.vcard
          <span class="org fn">Novosibirsk State University</span>
%section.lang
  %h1.section-title Languages
  %ul.section-content
    %li Russian – native speaker
    %li Hebrew – native level proficiency
    %li English – full professional proficiency
    %li German – limited working proficiency



%section.links
  %h1.section-title Links
  %ul.section-content
    %li
      %a.url(href="http://twitter.com/gryzzly") Twitter
    %li
      %a.url(href="http://github.com/gryzzly") Github
    %li
      %a.url(href="http://stackoverflow.com/users/236135/gryzzly") StackOverflow
