Pagetitle: Works

%h1 Some recent projects

%dl 
  %dt 
    %a(href="http://www.omami.ru") omami
  %dd
    PHP (WordPress), JavaScript (jQuery)
  %dt
    %a(href="http://spotuse.mishareyzlin.com") SpotUse homepage
  %dd
    HTML, CSS, JavaScript (jQuery)
  %dt
    %a(href="http://sed-diffusion.com") SED, Société Emeraude Diffusion France
  %dd
    PHP, JavaScript (jQuery)
  %dt
    %a(href="http://opera78.bigcartel.com/") opera78 – Made in Paris
  %dd
    <a href="http://bigcartel.com/">Big Cartel</a> theme development, CSS, jQuery.
  %dt
    %a(href="http://samizdal.mishareyzlin.com") Самиздал
  %dd
    PHP, HTML, CSS, JavaScript (jQuery), jQuery plugins
  %dt
    %a(href="http://bubbo-tubbo.com/") Natasha Mileshina / Portfolio
  %dd
    HTML, CSS, jQuery