Pagetitle: Works

%h1 Couple of things I've been doing recently
%dl
  %dt
    <a href="http://thesubjectjournal.com">thesubjectjournal.com</a> – December 2014
  %dd
    HTML, CSS, jQuery scripting

  %dt
    Instructor & course author at 4 days HTML/CSS beginner’s course at <a href="http://moscoding.ru/">Moscow Coding School</a>
  %dd
    <a href="http://gryzzly.github.io/msc">Course Materials</a> (in Russian)

  %dt
    A talk on cross-platform development and MVC pattern in UI development that I gave at <a href="https://www.beuth-hochschule.de/en/1/">Beuth University</a> of Applied Sciences Berlin in January 2014
  %dd
    <a href="https://speakerdeck.com/gryzzly/cross-platform-development-in-the-context-of-mobile-web">Slides</a>

  %dt
    A post on how to write your own adapter for Karma unit test runner on SoundCloud developers blog
  %dd
    <a href="https://developers.soundcloud.com/blog/writing-your-own-karma-adapter">Writing your own Karma adapter</a>

  %dt
    A talk on SoundCloud’s client side architecture at <a href="http://www.w3c.org.il/HTML5fest/2012/">W3C Israel HTML5Fest</a><br>– December 2012
  %dd
    <a href="http://gryzzly.github.io/html5fest">slides</a> and <a href="https://www.youtube.com/watch?v=DXe9QjphsT8">talk’s recording</a>

<p>I also hang out on StackOverflow where I answer <nobr><a href="http://stackoverflow.com/search?tab=newest&q=user%3a236135%20%5bjavascript%5d">JavaScript related questions</a></nobr></p>
