Pagetitle: Works

%h1 Some recent projects
%dl 
  %dt
    <a href="http://gryzzly.github.com/jQuery.scrollery/">jQuery Scrollery</a> – September 2011
  %dd
    jQuery
  %dt 
    %a(href="http://www.omami.ru") omami.ru
    – May 2011
  %dd
    PHP (WordPress), JavaScript (jQuery)
  %dt
    %a(href="http://spotuse.mishareyzlin.com") SpotUse homepage
    – January 2011
  %dd
    HTML, CSS, JavaScript (jQuery)
  %dt
    %a(href="http://sed-diffusion.com") SED, Société Emeraude Diffusion France
    – December 2010
  %dd
    PHP, JavaScript (jQuery)
  %dt
    %a(href="http://opera78.bigcartel.com/") opera78 – Made in Paris
    – May 2010
  %dd
    <a href="http://bigcartel.com/">Big Cartel</a> theme development, CSS, jQuery.
  %dt
    %a(href="http://samizdal.mishareyzlin.com") Самиздал
    – April 2010
  %dd
    PHP, HTML, CSS, JavaScript (jQuery), jQuery plugins
  %dt
    %a(href="http://bubbo-tubbo.com/") Natasha Mileshina / Portfolio
    – Summer 2009
  %dd
    HTML, CSS, jQuery
%p Or take a look at <a href="https://github.com/gryzzly">https://github.com/gryzzly</a>