Pagetitle: Works

%h1 Some recent projects

%dl 
  %dt 
    %a(href="http://www.omami.ru")
      omami
  %dd
    PHP (WordPress), JavaScript (jQuery)
  %dt
    %a(href="http://sed-diffusion.com")
      SED, Société Emeraude Diffusion France
  %dd
    PHP, JavaScript (jQuery)
  %dt
    %a(href="http://samizdal.mishareyzlin.com")
      Самиздал
  %dd
    PHP, HTML, CSS, JavaScript (jQuery), jQuery plugins